 .page, #root{
  display: flex ;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column ;
  width: 100vw !important ;
  height: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
}

body{
  display: flex ;
  width: 100vw;
  padding: 0 !important;
  margin: 0 !important;
}

main {
  display: flex; 
  justify-content: center;
  width: 100%;
  height: 100%;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*  6711911c */
.movies{
  padding: 0;
  margin: 20px;
  width: 100%;
  height: 100%;
   list-style-type: none;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.poster{
  height: 400px;
}
.movies li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h3, p{
  margin: 0 !important;
  padding: 0 !important;
}