
.box{
    background: #eee;
    padding: 20px;
    border-radius: 10px;
}
textarea{
    width:100%;
    border-radius: 3px;
    resize: none;
    font-size: 1em;
    height: 100px;
    padding: 5px;
}
label{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
    font-weight: bold;
}
.btn-success{
    background: #5a67dd ;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 15px;
}
.btn-danger{
    background-color:#08ff14 ;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 20px,15px;
}
#divTask > div{
    border: 1px solid #eee;
    background-color: #eee;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    min-height: 50px;
}
.divButton{
    text-align: right;
}