{% include 'header.html.j2' %}
{% with messages = get_flashed_messages()%}
    {% if messages%}
        <div class="alert alert-danger" role="alert">
            {% for msg in messages %}
                {{msg}}
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
<form method="post" action="/store" enctype="multipart/form-data">
    <div class="card">
        <div class="card-header">Crear Empleado:</div>
        <div class="card-body">
            <div class="card-text">
                <input hidden type="text"  name="txtId" id="txtId">
                <div class="form-group">
                    <label for="txtNombre">Nombre</label>
                    <input type="text" name="txtNombre" id="txtNombre">
                </div>
                <div class="form-group">
                    <label for="txtCorreo">Correo:</label>
                    <input type="email" name="txtCorreo" id="txtCorreo">
                </div>
                <div class="form-group">
                    <label for="txtFoto">Foto:</label>
                    <input type="file" name="txtFoto" id="txtFoto">
                </div>
                <button type="submit" class="btn btn-success w-25" value="Crear Empleado"><i class="bi bi-pencil-fill"></i></button>
                <a href="{{url_for('index')}}" class="btn btn-primary w-25"><i class="bi bi-arrow-90deg-left"></i></a>
            </div>
        </div>
    </div>
</form>
{% include 'footer.html.j2' %}