{% include 'header.html.j2' %}
<form method="post" action="/update" enctype="multipart/form-data">
    <div class="card">
        <div class="card-header">Modificar empleado</div>
        <div class="card-body">
            <div class="card-text">
                <input hidden type="text" value="{{empleado['id']}}" name="txtId" id="txtId">
                <div class="form-group">
                    <label for="txtNombre">Nombre</label>
                    <input type="text" name="txtNombre" id="txtNombre" value="{{empleado['nombre']}}">
                </div>
                <div class="form-group">
                    <label for="txtCorreo">Correo:</label>
                    <input type="email" name="txtCorreo" id="txtCorreo" value="{{empleado['correo']}}">
                </div>
                <div class="form-group">
                    <label for="txtFoto">Foto:</label>
                    <img  width="200" src="{{url_for('uploads',userpic=empleado['foto'])}}" class="img-thumbnail" alt="foto de perfil">
                    <input type="file" name="txtFoto" id="txtFoto">
                </div>
                <button  type="submit"  class="btn btn-success w-25"><i class="bi bi-pencil-fill"></i></button>
                <a href="{{url_for('index')}}" class="btn btn-primary w-25"><i class="bi bi-arrow-90deg-left"></i></a>
            </div>
        </div>
    </div>
</form>
{% include 'footer.html.j2' %}