{% include 'header.html.j2' %}
    <table class="table">
        <thead>
            <tr>
                <th hidden>#</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Foto</th>
            </tr>
        </thead>
        <tbody>
            {% for empleado in empleados %}
            <tr>
                <td hidden>{{empleado['id']}}</td>
                <td>{{empleado['nombre']}}</td>
                <td>{{empleado['correo']}}</td>
                <td>
                    <img width="100" height="100" src="userpic/{{empleado['foto']}}"  class=" rounded-circle" alt="foto de perfil">
                </td>
                <td>
                    <a href="/modify/{{empleado['id']}}" class="btn btn-warning"><i class="bi bi-pencil-fill"></i></a>
                    <a href="/delete/{{empleado['id']}}" class="btn btn-danger" id="btnBorrar"><i class="bi bi-trash-fill"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% include 'footer.html.j2' %}