<template>
  <div>
    <div class="nav">
      <div class="Devchallenges">DevChallenges.io</div>
      <div class="Colors">Colors</div>
      <div class="Typography">Typography</div>
      <div class="Spaces">Spaces</div>
      <div class="Buttons">Buttons</div>
      <div class="Inputs">Inputs</div>
      <div class="Grid">Grid</div>
    </div>
    <div class="Rectangle__28">
      <div class="buttons">Buttons</div>
      <div class="group__37">
        <div class="button__txt">button default</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "App",
  components: {},
};
</script>

<style>
</style>
