@tailwind base;
@tailwind components;
@tailwind utilities;

#root, html, body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
::-webkit-scrollbar {
    width: 2px;  /* Ancho del scrollbar vertical */
    height: 2px; /* Altura del scrollbar horizontal */
}

/* Personaliza el track (ruta) del scrollbar */
::-webkit-scrollbar-track {
    background-color: #232222;
    border-radius: 10px;
}

/* Personaliza la thumb (manija) del scrollbar */
::-webkit-scrollbar-thumb {
    background-color: #080808;
    border-radius: 10px;
}

/* Estilo para la thumb en hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}