<template>
      <table class="product-table">
      <thead>
        <tr>
          <td><span class="sr-only">Imágen de producto</span></td>
          <td>Producto</td>
          <td>Precio</td>
          <td>Cantidad</td>
          <td>Total</td>
          <td><span class="sr-only">Acciones</span></td>
        </tr>
      </thead>
      <tbody >
        <tr v-for="(i) in orderss1.orderDetails"  :key="i">
          <td><i :class="`icofont-2x icofont-${getIcon(getname(i.productId))}`"/></td>
          <td>{{ getname(i.productId) }}</td>
          <td>{{getPrice(getname(i.productId))}}</td>
          <td>{{i.quantity}}</td>
          <td>${{ (i.quantity * getPrice(getname(i.productId))).toFixed(2) }}</td>
        </tr>
        <tr>
          <td><i :class="`icofont-2x icofont-carrot`"/></td>
          <td>total</td>
          <td>-</td>
          <td>-</td>
          <td>{{orderss1.total}}</td>
        </tr>
      </tbody>
    </table>
</template>

<script>
// import food from '@/food.json'
export default {
  data () {
    return {
    }
  },
  props: ['orderss1', 'inventory'],
  methods: {
    getname (id) {
      const prod = this.inventory.find((p) => p.id === id)
      console.log(prod)
      return prod.description
    },
    getPrice (name) {
      console.log(name)
      const prod = this.inventory.find((p) => p.description === name)

      return prod.price
    },
    getIcon (name) {
      const prod = this.inventory.find((p) => p.description === name)
      return prod.icon
    }
  }
}
</script>

<style>

</style>
