<template>
  <div class="home">
    <div class="splash-container">
      <div class="splash">
        <h1>Granjita VUE</h1>
      </div>
    </div>
    <main class="rwrappe">
      <h2>Recomendados</h2>

      <div class="recomended">
        <Card class="card" v-for="(prod, index) in inventory.slice(randomIndex,randomIndex+3)" :key="prod.id" :index="index" :inventory="inventory" :prod="prod" :addToCart="addToCart"/>
      </div>
    </main>
  </div>
</template>

<script>
// @ is an alias to /src

import Card from '@/components/Card.vue'

export default {
  name: 'Home',
  props: ['addToCart', 'inventory'],
  data () {
    return {
      cart: {},
      randomIndex: ~~(Math.random() * 13)
    }
  },
  methods: {
  },
  components: {
    Card
  }
}
</script>
