<template>
<div class="home">
        <div class="splash-container">
      <div class="splash">
        <h1>Granjita VUE</h1>
      </div>
    </div>
  <main class="rwrappe">
  <h1>productos</h1>
  <div class="recomended">
    <card class="card" v-for="(prod, index) in inventory" :key="prod.id" :index="index" :inventory="inventory" :prod="prod" :addToCart="addToCart"/>
  </div>
  </main>
  </div>
</template>

<script>

import Card from '@/components/Card.vue'

export default {
  name: 'Home',
  props: ['addToCart', 'OrdersHistory', 'inventory'],
  data () {
    return {
      cart: {}
    }
  },
  methods: {

  },
  components: {
    Card
  }
}
</script>
