<template>
  <header class="top-bar spread">
    <nav class="top-bar-nav">
      <router-link to="/" class="top-bar-link">
        <i class="icofont-spoon-and-fork"></i>
        <span>Home</span>
      </router-link>
      <router-link to="products" class="top-bar-link">
        <span>Productos</span>
      </router-link>
      <router-link to="PastOrders" class="top-bar-link" @click="getOrdersHistory()">
        <span>Historial de Pedidos</span>
      </router-link>
    </nav>
    <div @click="toggleSidebar" class="top-bar-cart-link">
      <i class="icofont-cart-alt icofont-1x"></i>
      <span>Minicart ({{Object.keys(cart).length}})</span>
    </div>
  </header>
    <router-view :orderss="orderss"  :addToCart="addToCart" :OrdersHistory="OrdersHistory"  :inventory="inventory" :v-if="dataReady" />
  <sidebar
    v-if='showSidebar'
    :toggle='toggleSidebar'
    :cart='cart'
    :inventory='inventory'
    :clearCart='clearCart'
  />
</template>
<script>
import Sidebar from './components/Sidebar.vue'

export default {
  data () {
    return {
      dataReady: false,
      showSidebar: false,
      inventory: [],
      cart: {},
      OrdersHistory: [],
      orderss: []
    }
  },
  async mounted () {
    const data = await (await fetch('http://127.0.0.1:5000/products')).json()
    this.inventory = data.data
    const data2 = await (await fetch('http://127.0.0.1:5000/orders')).json()
    this.OrdersHistory = data2.data
    this.orderss = this.getOrders(this.OrdersHistory)
    this.dataReady = true
  },
  components: { Sidebar },
  methods: {
    toggleSidebar () {
      this.showSidebar = !this.showSidebar
    },
    addToCart (name, index, quantity) {
      this.cart[name] ??= 0
      this.inventory[index].quantity = quantity
      this.cart[name] += this.inventory[index].quantity
    },
    clearCart () {
      this.cart = {}
    },
    getOrders (OrdersHistory) {
      const orders = []
      OrdersHistory[0].forEach(element => {
        const order = {
          total: 0,
          id: 0,
          orderDetails: []
        }
        order.total = element.total
        order.id = element.id
        orders.push(order)
      })
      OrdersHistory[1].forEach(element => {
        const orderDetails = {
          productId: 0,
          quantity: 0
        }
        orderDetails.productId = element.product_id
        orderDetails.quantity = element.quantity
        const order = orders.find(p => p.id === element.order_id)
        order.orderDetails.push(orderDetails)
      })
      return orders
    }
  }
}
</script>
<style>
body{
  margin: 0;
}
</style>
<style >
.card{
    display: flex ;
    justify-content: center ;
    flex-wrap: wrap ;
    column-gap:1rem ;

  }
  .recomended{
    display: flex !important;
    justify-content: space-evenly !important;
    flex-wrap:wrap !important;
  }
</style>
