@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root,
.app{
  height: 100%;
  width: 100vw;
  font-family: "Source Sans Pro", sans-serif;
}

.content{
  width: 100%;
  height: 100%;
}
.app {
  display: flex;
  position: relative;
}
*{
  transition: 0;
}
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
