@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.nav {
    position: absolute;
    background-color: #fafbfd;
    width: 237px;
    height: 1234px;
    top: -9.07px;
    left: -8.5px;
}

.Colors {
    position: absolute;
    width: 62px;
    height: 20px;
    left: 48px;
    top: 180px;
    font-family: 'Noto Sans JP';
    font-size: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #9e9e9e;
}

.Typography {
    position: absolute;
    width: 80px;
    height: 20px;
    left: 48px;
    top: 225px;
    font-family: Noto Sans JP;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #9E9E9E;
}

.Buttons {
    position: absolute;
    width: 53px;
    height: 20px;
    left: 48px;
    top: 327px;
    font-family: Noto Sans JP;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #9E9E9E;
}

.Spaces {
    position: absolute;
    width: 47px;
    height: 20px;
    left: 48px;
    top: 277px;
    font-family: Noto Sans JP;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #9E9E9E;
}

.Inputs {
    position: absolute;
    width: 45px;
    height: 20px;
    left: 48px;
    top: 375px;
    font-family: Noto Sans JP;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #090F31;
}

.Grid {
    position: absolute;
    width: 29px;
    height: 20px;
    left: 48px;
    top: 430px;
    font-family: Noto Sans JP;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #9E9E9E;
}

.Devchallenges {
    position: absolute;
    width: 114px;
    height: 20px;
    left: 48px;
    top: 38px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    color: #F7542E;
}

.Rectangle__28 {
    position: absolute;
    width: 1203px;
    height: 1024px;
    left: 237px;
    top: 0px;
    background-color: #fff;
}

.buttons {
    position: absolute;
    width: 93px;
    height: 36px;
    left: 91.5px;
    top: 53px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #4F4F4F;
}



.button__txt {
    position: absolute;
    width: 100px;
    height: 12px;
    left: 90.5px;
    top: 117px;
    font-family: 'Ubuntu Mono';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #333333;
}